{% extends 'rango/base.html' %} 
{% load staticfiles %}

{% block title_block %}
	{{ category.name }}
{% endblock %}
	
	{% block body_block %}
	<!-- Lists the pages within a category or displays an error -->
	{% if category %}
		<h1>{{ category.name }}</h1>
		
		{% if pages %}
			<ul>
			{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</strong>
		{% endif %}
		<!-- provides a link to 'add page' -->
		{% if user.is_authenticated %}
		<div id="add_page">
		 <a href="/rango/category/{{category.slug}}/add_page/">Add Page</a> <br/>
		</div>
		{% endif %}
	{% else %}
		The specified category does not exist!
	{% endif %}
	</div>
{% endblock %}

<!-- Keeping this to allow reversion if any mistakes made post chapter 8  

<!DOCTYPE html>
<html>
<head>
	<title>Rango</title>
</head>
<body>
	<div>
	{% if category %}
		<h1>{{ category.name }}</h1>
		{% if pages %}
			<ul>
			{% for page in pages %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</strong>
		{% endif %}
	{% else %}
		The specified category does not exist!
	{% endif %}
	</div>
	
	<div>
	 <a href="/rango/category/{{category.slug}}/add_page/">Add Page</a> <br/>
	</div>
	
	<div>
	<a href="/rango"> Back </a>
	</div>
</body>
</html>

-->